.signup {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(245, 245, 245, 0.801);
  box-shadow: 5px 5px 20px rgb(37, 37, 37);
  border-radius: 7rem;
  padding: 3rem;
  width: 85vw;
  max-width: 50rem;
  color: black;
  font-size: 2rem;
}

.signup__card,
.signup__form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.signup__card--title {
  padding: 1rem;
}

.signup__card--err {
  padding: 2rem;
  margin: 0.5rem;
  background: rgba(252, 159, 159, 0.801);
  box-shadow: 0.5rem 0.5rem 1.5rem rgba(37, 37, 37, 0.623);
  border-radius: 2rem;
  width: 100%;
  text-align: center;
}

.signup__card--strongPassword {
  color: red;
  padding: 0.3rem;
  font-size: 1.3rem;
  font-weight: bold;
}

.signup__form--item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding-top: 1rem;
}

.signup__form--label,
.signup__form--info {
  font-weight: bold;
  margin-top: 1rem;
}

.signup__form--label {
  font-size: 1.8rem;
}

.signup__form--info {
  border: 0.3rem solid #22072a;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  width: 98%;
}

.signup__form--submit-btn {
  cursor: pointer;
  margin: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.589);
  border: 2px solid rgba(0, 0, 0, 0.589);
  border-radius: 1rem;
  color: whitesmoke;
  width: 98%;
}

.signup__form--submit-btn:hover {
  background: rgba(0, 0, 0, 0.76);
}

.signup--bottom-txt {
  border-top: 1px solid gray;
  width: 100%;
  text-align: center;
  padding-top: 1rem;
  margin-top: 1rem;
}

.signup__form--current {
  border: 0.4rem solid #00c8fa;
}
