.spinner {
  height: 30vmin;
  width: 30vmin;
  border-radius: 50%;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: spinners;
  margin: 1rem;
}

.spinner--jobs {
  border: #256c4d 3vmin groove;
}

.spinner--studying {
  border: #e8d7cd 3vmin groove;
}

.spinner--quiz {
  border: #53fdfb 3vmin groove;
}

.spinner--homepage {
  border: white 3vmin groove;
}

.loading {
  font-size: 1.8rem;
  font-weight: bold;
}

.loading--jobs {
  color: #256c4d;
}

.loading--studying {
  color: #e8d7cd;
}

.loading--quiz {
  color: #53fdfb;
}

.loading--homepage {
  color: black;
}

@keyframes spinners {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
