.category-container {
  width: 80vw;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 5px 5px 20px gray;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(245, 245, 245, 0.616);
  border: 0.3rem solid rgb(32, 0, 92);
  line-height: 1.6;
}

.category-name {
  text-align: center;
  margin: 0;
  font-size: 2.5rem;
  color: rgb(32, 0, 92);
  width: 100%;
}

.category--question-container {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  width: 100%;
}

.category--questions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  width: 100%;

  /* height: 100%; */
}

.category-card-to-show {
  margin: 0.5rem;
  padding: 2rem;
  box-shadow: 5px 5px 20px grey;
  border-radius: 1rem;
  text-align: center;
  height: 20rem;
  overflow: hidden;
  background: whitesmoke;
  cursor: pointer;
  width: 100%;
  max-width: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category-card--title-container {
  height: 11rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-card--title {
  font-size: 2.2rem;
  color: rgb(14, 0, 39);
}

.category-card--body {
  font-size: 1.5rem;
}

.category--arrow,
.category--close {
  font-size: 3rem;
  color: rgb(32, 0, 92);
  cursor: pointer;
}

.category-card--btns {
  display: flex;
  justify-content: space-between;
}

.category-card--link {
  text-decoration: none;
  background: rgba(32, 0, 92, 0.664);
  border: 0.3rem solid rgb(32, 0, 92);
  color: rgb(245, 245, 245);
  cursor: pointer;
  padding: 0.2rem;
  font-size: 1.6rem;
  font-weight: 400;
}

.category-card--link:hover {
  background: rgba(32, 0, 92, 0.89);
}
